<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dig The Riddle</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Roboto:wght@300;400;700;900&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Roboto:wght@300;400;700;900&display=swap"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/navbarResponsive.css">
  <link rel="shortcut icon" href="./../images/favicon2.ico" type="image/x-icon">
  
  <style>
    * {
      font-family: sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      overflow-x: hidden;
    }

    .code {
      font-weight: 900;
    }

    .questions {
      margin: 40px 50px;
    }
  </style>
</head>

<body style="background-image: linear-gradient(to bottom, #ffffff 22%, #330867 100%)">
  <div>
    <nav class="navbar navbar-expand-lg  ">
      <div class="container-fluid">

        <h3 class="code"
          style="font-family:Georgia, 'Times New Roman', Times, serif; color:rgb(39, 28, 39); text-align: center; ">
          <\CodeWalkerz>
        </h3>
        <img class="logoImage" src="./images/SCA_LOGO-removebg-preview.png" alt="SCA_LOGO" width="150px">
      </div>
  </div>
  </nav>
  </div>
  <div class="Snap" style=" text-align: center;  ">
    <div class="container">

      <div
        style="font-family:Georgia, 'Times New Roman', Times, serif; margin-top: 3vh; font-size:60px; border: none; color: #330867; "
        class="card  "> Snap The Quest </div>

      <div class="rules "
        style="margin-top: 20px;  padding-top: 2%; padding-left: 10px; padding-right: 10px;  padding-bottom: 30px; border-radius: 10px;  background-color: #ffffff; ">
        <div style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 30px;">
          <div style=" font-size:43px; margin: 40px 0px;"> <b class=" text-primary">DIG THE </b> <b>RIDDLES !!!</b>
          </div>
          <b class="text-primary">Do You Like</b> <b>Surprises ?</b>
          <div style="color: rgb(74 79 92); font-size: 23px; margin: 70px 120px; ">
            A very exciting surprise is waiting for you, and for getting that one, just
            scratch your brains and solve the curiosity filled riddles, explore whether
            it's a Facebook, Email, LinkedIn or any other Social Media Plateform, either use the
            provided hint or just create your hint on your own, get your answer whether from inside the campus
            or from outside the campus, either it will be environment related or related
            to your personality, whatever you can think, whatever you can do,just do now.
            So, show some excitement, scratch your brains as much as you can, and solve
            the riddles within given time. There are multiple stops and each have games of different patterns. </div>
        </div>

        <div style="color: rgb(74 79 92); font-size: 23px; margin: 40px 60px;">
          <b> 
            Let's start the riddles by filling out your Team Name and Unique Team Id.
            As you Login here by clicking on submit button, will get the first round
            which is a Surprise box of multiple questions. Solve those questions and fill the boxes, if you solve them correctly, the final boxes will get filled automatically and you will reach one step closer to your destination.
          </b>
        </div>
      </div>
    </div>

    <div class=" flex flex-column m-5">
        <form action="/Riddle1" method="post">
          <div class="p-3">
            <input type="text" name="teamName" class=" m-3 p-2 rounded" placeholder="Team Name "  required>
            <input type="text" name="teamId" class="p-2 m-3 rounded" placeholder="Team ID"  required>
          </div>
            <input type="submit" value="Submit" class="btn btn-outline-primary btn-lg bg-primary text-white" >
        </form>
    </div>
  </div>

    
</body>
</html>